<section id = "body">
  <img id = "cadre" src="../../assets/images/cadre.png"/>
  <aside>
    <img src="../../assets/images/parchemin.png"/>
    <div id = "mj">
      <h4>Deviens Maître du jeu !</h4>
    </div>
    <div id = "perso">
      <h4>Crée TON personnage</h4>
    </div>
    <div id = "map">
      <h4>Crée une multitude de cartes en 2D isométrique !</h4>
    </div>
    <div id = "chat">
      <h4>Système de chat Audio et Vidéo !</h4>
    </div>
    <div id = "recherche">
      <h4>Recherche d’autres joueurs !</h4>
    </div>
  </aside>
</section>