<div class="page">
  <header id="banniere">
    <img src="../../assets/images/banniere.png" />
    <div id="contenant">
      <h1>le début de l'aventure</h1>
      <div id="intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a magna vel enim molestie imperdiet ac ut mauris. Donec vitae
        orci nec libero molestie efficitur id ac dui. Maecenas cursus sagittis magna, non sodales dui commodo et. Suspendisse
        laoreet consectetur congue. Quisque in neque sit amet turpis pulvinar tincidunt sit amet eu sem. Nunc metus sem,
        luctus sed feugiat nec, iaculis eu tortor.
      </div>

      
    </div>
  </header>
</div>